* {
    box-sizing: border-box;
}
body {
    color: #ecebf3;
    background-color: #0c120c;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    margin: auto;
    font-family: Helvetica, sans-serif;
}
.page-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.page-main {
    flex: 4;
    display: flex;
    flex-direction: row;
    background-color: #c7d6d5;
}
.page-footer{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.page-header > * {
    padding: 16px;
}
.nav-intro {
    flex: 0 1 75%;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 25%;
    margin-left: auto;
    justify-content: flex-end;
}
.github-link{
    width: 32px;
    height: 28px;
    fill:#ecebf3;
    transition: fill .3s;
}
.github-link:hover {
    background:none;
    fill:#6e5494;
}