* {
    box-sizing: border-box;
}
body {
    color: black;
    background-color: #f7f7f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    margin: auto;
    font-family: sans-serif;
}
.page-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.page-main {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-width: 2px;
    border-radius: 16px;
}
.page-main.highlight {
    background-color: #E4E6C3;
}
.main-buttons{
    display: flex;
    flex-wrap: wrap;
}
.main-buttons > * {
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 8px;
    font-size: 1em;
}
.main-buttons > *:hover {
  background: #ddd;
}
.page-footer{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.page-header > * {
    padding: 16px;
}
.nav-intro {
    flex: 0 1 75%;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 25%;
    margin-left: auto;
    justify-content: flex-end;
}
.github-link{
    width: 32px;
    height: 28px;
    fill: black;
    transition: fill .3s;
}
.github-link:hover {
    background:none;
    fill:#6e5494;
}