* {
    box-sizing: border-box;
}
body {
    color: black;
    background-color: #f7f7f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    margin: auto;
    font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  empty-cells: hide;
  align-self: flex-start;
  width: 100%;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: left;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}
.page-header {
    /* Flex Container */
    display: flex;
    width: 60%;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;

    /* Flex Items */
    flex: 0 0 auto;
}

.page-main {
    /* Flex Container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-width: 2px;
    border-radius: 16px;
    height: 80%;

    /* Flex Items */
    flex: 0 0 80%;
}

.page-main.highlight {
    background-color: #E4E6C3;
}

.instructions {
    flex: 0 0 auto;
    margin: 16px;   
}

.main-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-buttons > * {
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 8px;
    font-size: 1em;
}

.main-buttons > *:hover {
  background: #ddd;
}

.table-wrapper {
    flex: 1 0 80%;
    width:  100%;
    overflow: auto;
    padding: 16px; 
}

.page-footer{
    flex: 0 0 auto;
    display: flex;
    width: 60%;
    align-self: center;
    flex-direction: column;
}
.page-header > * {
    padding: 16px;
}
.nav-intro {
    flex: 0 1 75%;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 25%;
    margin-left: auto;
    justify-content: flex-end;
}
.github-link{
    width: 32px;
    height: 28px;
    fill: black;
    transition: fill .3s;
}
.github-link:hover {
    background:none;
    fill:#6e5494;
}

