* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    color: black;
    background-color: #f7f7f2;
    height: 100%;
}
#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin: auto;
    font-family: sans-serif;
}
.text {
    margin: 8px;
    font-size: 1.25em;
}
