* {
  box-sizing: border-box;
}
html, body {
  color: black;
    height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: auto;
  font-family: sans-serif;
}
.text {
  margin: 8px;
  font-size: 1.25em;
}
.md-18 {
  padding: 2px;
  margin-left: 2px;
  font-size: .8rem;
  border: 1px solid black;
  border-radius: 5px;
  vertical-align: middle;
  transition: all 500ms ease;
  cursor: pointer; 
}
.md-18:hover {
  color: #ccc;
  border: #ccc solid 1px;
  background:#fff;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  empty-cells: hide;
  align-self: flex-start;
  width: 100%;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 16px;
  cursor: pointer; 
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: left;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}
