* {
    box-sizing: border-box;
}
html, body {
  color: black;
  background-color: #f7f7f2;
  height: 100%;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  empty-cells: hide;
  align-self: flex-start;
  width: 100%;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: left;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  margin: auto;
  font-family: sans-serif;
}
.text {
  margin: 8px;
  font-size: 1.25em;
}
